<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mummyding.app.funnychat" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Aty.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Aty.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Aty.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Aty.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity android:name=".Aty.ConversationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.mummyding.app.funnychat"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Aty.AddActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name=".Aty.CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".Aty.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
